# Import and Export Files

# Challenge 1 - Working with JSON files
Import the pandas library.

In [1]:
import pandas as pd  # Import Pandas

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [6]:
# Load the JSON file into a pandas DataFrame
nasa = pd.read_json('nasa.json')

Now that we have loaded the data, let's examine it using the head() function.

In [7]:
# Display the first few rows of the DataFrame
print(nasa.head())

   :@computed_region_cbhk_fwbd  :@computed_region_nnqa_25f4  fall  \
0                          NaN                          NaN  Fell
1                          NaN                          NaN  Fell
2                          NaN                          NaN  Fell
3                          NaN                          NaN  Fell
4                          NaN                          NaN  Fell

                                         geolocation   id      mass      name  \
0  {'type': 'Point', 'coordinates': [6.08333, 50....    1      21.0    Aachen
1  {'type': 'Point', 'coordinates': [10.23333, 56...    2     720.0    Aarhus
2  {'type': 'Point', 'coordinates': [-113, 54.216...    6  107000.0      Abee
3  {'type': 'Point', 'coordinates': [-99.9, 16.88...   10    1914.0  Acapulco
4  {'type': 'Point', 'coordinates': [-64.95, -33....  370     780.0   Achiras

  nametype     recclass    reclat    reclong                     year
0    Valid           L5  50.77500    6.08333  1880-01-01T00:00:00.000
1    Valid           H6  56.18333   10.23333  1951-01-01T00:00:00.000
2    Valid          EH4  54.21667 -113.00000  1952-01-01T00:00:00.000
3    Valid  Acapulcoite  16.88333  -99.90000  1976-01-01T00:00:00.000
4    Valid           L6 -33.16667  -64.95000  1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [8]:
# Count the frequency of each value in the 'fall' column
fall_counts = nasa['fall'].value_counts()

# Display the result
print(fall_counts)

fall
Fell     996
Found      4
Name: count, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [9]:
# Save the dataframe as a JSON file in the same directory as the Jupyter Notebook
nasa.to_json("nasa-output.json", orient="records")

print("File saved successfully as 'nasa-output.json'")

File saved successfully as 'nasa-output.json'

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.There's a total of 9 relevant columns, knowing in the txt file it has 10, where the first one relates to the index. Find more information [here](https://archive.ics.uci.edu/dataset/148/statlog+shuttle)

In [10]:
import pandas as pd  # Import Pandas

In [13]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [17]:
# Load the file correctly, handling multiple spaces and extra index column
shuttle = pd.read_csv(tst_url, sep=r'\s+', names=cols, index_col=0)  # Use `sep='\s+'` to handle multiple spaces

Let's verify that this worked by looking at the `head()` function.

In [18]:
# Display the first few rows of the DataFrame
print(shuttle.head())

    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4
50    -1        89         -7        50     0      39         40         2
53     9        79          0        42    -2      25         37        12
55     2        82          0        54    -6      26         28         2

    class
55      4
56      4
50      1
53      4
55      1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [19]:
# Save the DataFrame as a CSV file without the index
shuttle.to_csv("shuttle.csv", sep=",", index=False)

print("File saved successfully as 'shuttle.csv'")

File saved successfully as 'shuttle.csv'

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [2]:
import pandas as pd  # Import pandas library

# Load the Excel file into a DataFrame
astronaut = pd.read_excel("astronauts.xls")

Use the `head()` function to inspect the dataframe.

In [3]:
# Display the first few rows to confirm successful loading
print(astronaut.head())

               Name    Year  Group   Status Birth Date    Birth Place Gender  \
0   Joseph M. Acaba  2004.0   19.0   Active 1967-05-17  Inglewood, CA   Male
1    Loren W. Acton     NaN    NaN  Retired 1936-03-07   Lewiston, MT   Male
2  James C. Adamson  1984.0   10.0  Retired 1946-03-03     Warsaw, NY   Male
3   Thomas D. Akers  1987.0   12.0  Retired 1951-05-20  St. Louis, MO   Male
4       Buzz Aldrin  1963.0    3.0  Retired 1930-01-20  Montclair, NJ   Male

                                          Alma Mater     Undergraduate Major  \
0  University of California-Santa Barbara; Univer...                 Geology
1   Montana State University; University of Colorado     Engineering Physics
2          US Military Academy; Princeton University             Engineering
3                       University of Missouri-Rolla     Applied Mathematics
4                           US Military Academy; MIT  Mechanical Engineering

          Graduate Major Military Rank         Military Branch  Space Flights  \
0                Geology           NaN                     NaN              2
1          Solar Physics           NaN                     NaN              1
2  Aerospace Engineering       Colonel       US Army (Retired)              2
3    Applied Mathematics       Colonel  US Air Force (Retired)              4
4           Astronautics       Colonel  US Air Force (Retired)              2

   Space Flight (hr)  Space Walks  Space Walks (hr)  \
0               3307            2              13.0
1                190            0               0.0
2                334            0               0.0
3                814            4              29.0
4                289            2               8.0

                                            Missions Death Date Death Mission
0             STS-119 (Discovery), ISS-31/32 (Soyuz)        NaT           NaN
1                              STS 51-F (Challenger)        NaT           NaN
2               STS-28 (Columbia), STS-43 (Atlantis)        NaT           NaN
3  STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...        NaT           NaN
4                               Gemini 12, Apollo 11        NaT           NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [4]:
# Count the frequency of each undergraduate major
popular_major = astronaut['Undergraduate Major'].value_counts()

# Display the most common major
print(popular_major.head(1))  # Shows only the most popular major

Undergraduate Major
Physics    35
Name: count, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [5]:
# Save the DataFrame as a tab-separated CSV file
astronaut.to_csv("astronaut.csv", sep="\t", index=False)

print("File saved successfully as 'astronaut.csv'")

File saved successfully as 'astronaut.csv'